body{
    background-color: #16171b;
    
}

.container{
   background-color: #222327;
   border-radius: 0.5em;
   margin-bottom: 2em;
}
/* logo image*/
#tech{
    max-width: min-content;
    margin: auto;
}

/* buttons*/
.git{
    background-color: #0c0c0c;
    width: 100%vpw;
    
}
.git a, .sign {
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    text-decoration: none;
}
.git a:hover{
    color: linen;
}

.git:hover{
    background-color: #151313cf;
    transition: 0.3s;
}
.git, .sign{
    height: 2.5em;
    border-radius: 0.5em;
}
.sign{
    background-color: brown;
    padding-top: 0.4rem;

}

.sign:hover{
    background-color: rgb(182, 53, 53);
    transition: 0.3s;
}
/*inputs*/
input{
    background-color: #27272A;
    color: linen;
    outline: none;
    padding: 0.5em;
}
.email{
    border-radius: 0.5em 0.5em 0 0;
}.password{
    border-radius: 0 0 0.5em 0.5em ;
}
/* links*/
.senha{
    justify-content: end;
}
#password{
    text-decoration: none;
    color: linen;
    font-size: smaller;
    width: max-content;
    margin: 1em 0;
    padding: 0%;
}
#password:hover{
    color: rgb(105, 168, 232);
    transition: 0.3s;
}
a{
    color: linen;
}
a:hover{
    color: rgb(105, 168, 232);
    transition: 0.3s;
}
/*footer*/
#sign{
    
    font-size: smaller;
    margin: 1.5em auto 0 auto;
    width: 100%vpw;
}

/*footer text*/
p{
    padding: 0%;
    margin: 0%;
    color: azure;
}
#sign{
    outline-style: none;
    
}